
<div class="card">
  <p>Tienda especializada en equipo de escalada y montaña. Las mejores marcas, Ansilta, La Sportiva, Petzl, Edelrid, Edelweiss, Patagonia, Marmot, Lowe Alpine, Altus y muchas más.

  </p>

</div>
 <div class="card">
  <p>Contactános</p>
    <ul>
      <p> <li> <i class="fa-brands fa-whatsapp"></i>591172878555</li> </p>
      <p> <li> <i class="fas fa-phone-volume"></i>011 144-57573925</li> </p>
       <p> <li> <i class="fas fa-envelope"></i>info@thenextclimb.com.ar</li> </p>
        <p>  <li> <i class="fas fa-location-dot"></i>Viamonte 594 Calle Falsa</li> </p>
    </ul>




 </div>


 <div class="card">
   <p>
    SIGAMOS CONECTADOS:
   </p>
   <p> <li> <i class="fa-brands fa-facebook"></i>thenextclimb</li> </p>
   <p> <li> <i class="fa-brands fa-instagram"></i>@thenextclimb</li> </p>


 </div>
