<table  class="table text-center ">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Precio</th>
      <th>Color</th>
      <th>Stock</th>
      <th>Compra</th>



    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let helmet of helmets" [ngClass]="{'clearance': helmet.clearance}">
      <td><img width="100" [src]="helmet.img" [alt]="helmet.name" class="img-thumbnail " ></td>
      <td>{{helmet.name}}</td>
      <td>{{helmet.brand}}</td>
      <td>{{helmet.price  | currency }}</td>
      <td>{{helmet.color}}</td>
      <td ><span *ngIf="helmet.stock==0" class="badge badge-danger">SIN STOCK</span></td>


      <td>
        <app-input-integer [(quantity)] = "helmet.quantity" [max]="helmet.stock" *ngIf="helmet.stock" (maxReached)="maxReached($event)"></app-input-integer>

      </td>
      <td><button class="bn632-hover bn20" (click)="addToCart(helmet)">Comprar</button></td>






    </tr>
  </tbody>
</table>


