<div class="input-group">
        <div class="input-group">
            <div class="input-group-prepend bn632">
                <button class="btn btn-primary btn-sm" (click)="downQuantity()">-</button>
            </div>
            <div class="input-group-append bn632 ">
              <button class="btn btn-primary btn-sm" (click)="upQuantity()">+</button>
            </div>
            <input type="text" class="text-center" [(ngModel)]="quantity" (keyup)="onChangeQuantity($event)">

        </div>
    </div>
